body, html{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
	color: var(--primaryDark);
  touch-action: pan-y; // disable ios double tab zoom
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: auto;
		@media (max-width: 1650px){
      font-size: 16px;
		}
		@media (max-width: 1366px){
      font-size: 14px;
		}
    @media (max-width: 768px){
      font-size: 13px;
    }
}

::-moz-selection { background: var(--mainBlue); }
::selection { background: var(--mainBlue); }

.container{
  @media (min-width: 1650px){
    max-width: 1440px;
  }
  @media (max-width: 567px){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.h{
  &-50{ height: 50%; }
  &-100{ height: 100%; }
}

.w{
  &-50{ width: 50%; }
  &-100{ width: 100%; }
}

.position{
  &-relative{ position: relative; }
  &-absolute{ position: absolute; }
}

.overflow-hidden{
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}